openapi: 3.1.0
info:
  version: 1.0.0
  title: Powercast API
  summary: Documentation of endpoints available for energy price, generation and emissions in several zones.
  description: |
    **NOTE**: Data for `Price`, `Emissions` and `Generation` is only updated once every 24 hours per zone. If zone `DE` was updated at midnight yesterday, then it should be updated at midnight today, but any other zone may be following a different schedule.
  license:
    name: MIT License
    identifier: MIT
externalDocs:
  description: Source on GitHub
  url: https://github.com/codereaper/powercast-data
servers:
  - url: https://codereaper.com/powercast-data/api
paths:
  /energy-charges/network:
    get:
      summary: Available networks in the grid
      operationId: gridNetworks
      tags:
        - Charges
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridNetworks'
          links:
            gridTariffsByNetworkId:
              operationId: gridTariffsByNetworkId
              parameters:
                id: $response.body[#/id]
              description: >
                The `id` value returned in the response can be used as
                the `id` parameter in `GET /energy-charges/network/{id}`.
  /energy-charges/network/{id}:
    get:
      summary: Tariffs applied in network over date intervals
      operationId: gridTariffsByNetworkId
      tags:
        - Charges
      parameters:
        - name: id
          in: path
          required: true
          description: The id of the network to retrieve data for
          schema:
            type: integer
            format: int32
            example: 5790001090111
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridNetworkTariffs'
        '404':
          description: Not found response
          content:
            text/html: {}
  /energy-charges/grid:
    get:
      summary: Grid charges and tariffs applied in zones over date intervals
      operationId: gridCharges
      tags:
        - Charges
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GridCharges'
  /energy-price:
    get:
      summary: Paths of latest and oldest available price data
      operationId: energyPricesPathRanges
      tags:
        - Prices
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathRanges'
  /energy-price/{year}/{month}/{day}/{zone}.json:
    get:
      summary: Energy prices of a specific date in a specific zone
      operationId: energyPriceByDateAndZone
      tags:
        - Prices
      parameters:
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/month"
        - $ref: "#/components/parameters/day"
        - $ref: "#/components/parameters/zone"
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prices'
        '404':
          description: Not found response
          content:
            text/html: {}
  /emission/co2:
    get:
      summary: Paths of latest and oldest available CO2 emission data
      operationId: emissionCO2PathRanges
      tags:
        - Emissions
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathRanges'
  /emission/co2/{year}/{month}/{day}/{zone}.json:
    get:
      summary: CO2 emissions for a specific date in a specific zone
      operationId: emissionCO2ByDateAndZone
      tags:
        - Emissions
      parameters:
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/month"
        - $ref: "#/components/parameters/day"
        - $ref: "#/components/parameters/zone"
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmissionsCO2'
        '404':
          description: Not found response
          content:
            text/html: {}
  /renewables:
    get:
      summary: Paths of latest and oldest available renewables data
      operationId: renewablesPathRanges
      tags:
        - Generation
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathRanges'
  /renewables/{year}/{month}/{day}/{zone}.json:
    get:
      summary: Renewable data for a specific date in a specific zone
      operationId: renewablesByDateAndZone
      tags:
        - Generation
      parameters:
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/month"
        - $ref: "#/components/parameters/day"
        - $ref: "#/components/parameters/zone"
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Renewables'
        '404':
          description: Not found response
          content:
            text/html: {}
  /incidents/{type}/{zone}.json:
    get:
      summary: Renewable data for a specific date in a specific zone
      operationId: incidentsByTypeAndZone
      tags:
        - Incidents
      parameters:
        - name: type
          in: path
          required: true
          description: The type of incidents to retrieve data for
          schema:
            type: string
            enum:
              - energy-price
              - renewables
              - emission/co2
            example: energy-price
        - $ref: "#/components/parameters/zone"
      responses:
        '200':
          description: Found data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incidents'
        '404':
          description: Not found response
          content:
            text/html: {}
security: []
components:
  parameters:
    year:
      name: year
      in: path
      required: true
      description: The four digits year of the date in GMT to retrieve data for
      schema:
        type: string
        minLength: 4
        maxLength: 4
        format: date
        example: 2024
    month:
      name: month
      in: path
      required: true
      description: The two digits month of the date in GMT to retrieve data for
      schema:
        type: string
        minLength: 2
        maxLength: 2
        format: date
        example: "01"
    day:
      name: day
      in: path
      required: true
      description: The two digits day of the date in GMT to retrieve data for
      schema:
        type: string
        minLength: 2
        maxLength: 2
        format: date
        example: "01"
    zone:
      name: zone
      in: path
      required: true
      description: The zone to retrieve data for
      schema:
        type: string
        example: DK1
  schemas:
    Prices:
      type: array
      items:
        $ref: '#/components/schemas/Price'
    Price:
      type: object
      required:
        - euro
        - timestamp
      properties:
        euro:
          type: number
          format: double
          description: Price point of a MWh in Euros
        timestamp:
          type: integer
          format: timestamp
          description: Unix timestamp of when a price point begins
    PathRanges:
      type: array
      items:
        $ref: '#/components/schemas/PathRange'
    PathRange:
      type: object
      required:
        - latest
        - oldest
        - zone
      properties:
        latest:
          type: string
          format: URL path
          description: Path including date of the latest available data
        oldest:
          type: string
          format: URL path
          description: Path including date of the oldest available data
        zone:
          type: string
          description: The zone relevant to the latest and oldest paths
    Renewables:
      type: array
      items:
        $ref: '#/components/schemas/RenewableSources'
    RenewableSources:
      type: object
      required:
        - sources
        - timestamp
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/RenewableSource'
        timestamp:
          type: integer
          format: timestamp
          description: Unix timestamp of when a data point begins
    RenewableSource:
      type: object
      required:
        - type
        - energy
      properties:
        type:
          type: string
          description: Type of energy generation, solar, offshore wind, etc.
        energy:
          type: number
          format: double
          description: Amount in MWh
    EmissionsCO2:
      type: array
      items:
        $ref: '#/components/schemas/EmissionCO2'
    EmissionCO2:
      type: object
      required:
        - co2
        - timestamp
      properties:
        co2:
          type: number
          format: double
          description: g/kWh
        timestamp:
          type: integer
          format: timestamp
          description: Unix timestamp of when a data point begins
    GridCharges:
      type: array
      items:
        $ref: '#/components/schemas/GridCharge'
    GridCharge:
      type: object
      required:
        - from
        - to
        - electricityCharge
        - transmissionTariff
        - systemTariff
        - zone
      properties:
        from:
          type: integer
          format: timestamp
          description: Unix timestamp of when a date interval begins
        to:
          type: integer
          format: timestamp
          description: Unix timestamp of when a date interval begins
        electricityCharge:
          type: number
          format: double
          description: Zone-local currency per kWh, like cent/kWh or øre/kWh
        transmissionTariff:
          type: number
          format: double
          description: Zone-local currency per kWh, like cent/kWh or øre/kWh
        systemTariff:
          type: number
          format: double
          description: Zone-local currency per kWh, like cent/kWh or øre/kWh
        zone:
          type: string
          description: The zone relevant for the charges
    GridNetworks:
      type: array
      items:
        $ref: '#/components/schemas/GridNetwork'
    GridNetwork:
      type: object
      required:
        - id
        - name
        - zone
      properties:
        id:
          type: integer
          format: int32
          description: The id of the network
        name:
          type: string
          format: string
          description: Name of the network
        zone:
          type: string
          description: The zone the network is in
    GridNetworkTariffs:
      type: array
      items:
        $ref: '#/components/schemas/GridNetworkTariff'
    GridNetworkTariff:
      type: object
      required:
        - from
        - to
        - tariffs
      properties:
        from:
          type: integer
          format: timestamp
          description: Unix timestamp of when a date interval begins
        to:
          type:
            - integer
            - 'null'
          format: timestamp
          description: Unix timestamp of when a date interval begins
        tariffs:
          type: array
          minLength: 1
          maxLength: 24
          items:
            type: number
            format: double
            description: Up to 24 entries with the hourly tariff, where position 0 represents the tariff of the first hour past midnight of the date in GMT and position 23 represents the tariff of the last hour of the day of the date in GMT
    Incidents:
      type: array
      items:
        $ref: '#/components/schemas/Incident'
    Incident:
      type: object
      required:
        - from
        - to
        - type
      properties:
        from:
          type: integer
          format: timestamp
          description: Unix timestamp of when a date interval begins
        to:
          type:
            - integer
            - 'null'
          format: timestamp
          description: Unix timestamp of when a date interval begins
        type:
          type: string
          enum:
            - delay
          description: |
            * `delay` - Data expected to be updated according to schedule remains unchanged.
            There will only be one ongoing incident with a specific type until it becomes a past incident. Incidents started being recorded as of 2024 mid April.
