name: Tests

on:
  workflow_dispatch: {}
  pull_request: {}

jobs:
  tests-succeeded:
    name: Tests Succeeded
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: make
        shell: bash
